.Mui-selected svg,
.MuiButton-text {
    color: var(--verivote-turquoise) !important;
}

.MuiTabs-indicator,
.Mui-selected.MuiPickersDay-root,
.MuiClock-pin,
.MuiClockPointer-root,
.MuiClockNumber-root.Mui-selected,
.MuiClock-amButton.Mui-selected,
.MuiClock-pmButton.Mui-selected,
.MuiPickersYear-yearButton.Mui-selected {
    background-color: var(--verivote-turquoise) !important;
}

.MuiClockPointer-thumb,
.MuiPickersDay-dayWithMargin {
    border-color: var(--verivote-turquoise) !important;
}

.MuiModal-root * {
    font-family: "Jost", sans-serif !important;
}

.MuiTouchRipple-ripple span {
    background: var(--verivote-turquoise) !important;
}

.MuiOutlinedInput-root {
    padding: 0;
    margin-top: 1rem !important;
}

.MuiInputBase-input {
    font-family: "Jost", sans-serif !important;
    padding: 0.5rem 2.5rem !important;
    border-radius: 9999px !important;
    color: var(--dark-font) !important;
    box-shadow: inset -0.1rem -0.1rem 0.1rem 0.1rem #fff, inset 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

:root[data-color-scheme="dark"] {
    .MuiInputBase-input {
        color: var(--light-font) !important;
        box-shadow: inset -0.1rem -0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.1), inset 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
    }
}

.MuiOutlinedInput-notchedOutline {
    border: none !important;
}