@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        font-size: 18px;
        --dark-font: theme("colors.dark-font");
        --light-font: theme("colors.light-font");
        --header-height: theme("height.header");
        --main-height: calc(100dvh - var(--header-height));
        --verivote-turquoise: theme("colors.verivote-turquoise");
        --verivote-cyan: theme("colors.verivote-cyan");
        color: var(--dark-font);
    }

    :root[data-color-scheme="dark"] {
        color: var(--light-font);
    }

    ::selection {
        background: rgba(18,212,174,.5);
        color: white;
    }

    :focus-visible {
        outline: 4px outset var(--verivote-turquoise);
    }

    .inline-link-resting {
        text-decoration: underline;
    }

    .inline-link {
        background-image: linear-gradient(
                to right,
                var(--verivote-turquoise),
                var(--verivote-cyan) 50%,
                var(--dark-font) 50%
        );
        user-select: none;
        background-size: 200% 100%;
        background-position: 100%;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: background-position 150ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    :root[data-color-scheme="dark"] .inline-link {
        background-image: linear-gradient(
                to right,
                var(--verivote-turquoise),
                var(--verivote-cyan) 50%,
                var(--light-font) 50%
        );
    }

    .inline-link:hover {
        background-position: 0;
    }
}

b {
    font-weight: 600;
}

.menu-icon-open-enter {
    opacity: 0;
    transform: rotateY(-90deg) translateX(-100%);
}

.menu-icon-open-enter-active {
    opacity: 1;
    transform: none;
    transition: opacity 200ms, transform 200ms;
}

.menu-icon-open-exit {
    opacity: 1;
    transform: none;
}

.menu-icon-open-exit-active {
    opacity: 0;
    transform: rotateY(-90deg) translateX(-100%);
    transition: opacity 200ms, transform 200ms;
}

.menu-icon-close-enter {
    opacity: 0;
    transform: rotateY(90deg) translateX(100%);
}

.menu-icon-close-enter-active {
    opacity: 1;
    transform: none;
    transition: opacity 200ms, transform 200ms;
}

.menu-icon-close-exit {
    opacity: 1;
    transform: none;
}

.menu-icon-close-exit-active {
    opacity: 0;
    transform: rotateY(90deg) translateX(100%);
    transition: opacity 200ms, transform 200ms;
}

.menu-enter {
    opacity: 0;
    transform: scale(125%);
}

.menu-enter-active {
    opacity: 1;
    transform: none;
    transition: opacity 200ms, transform 200ms;
}

.menu-exit {
    opacity: 1;
    transform: none;
}

.menu-exit-active {
    opacity: 0;
    transform: scale(125%);
    transition: opacity 200ms, transform 200ms;
}